body {
    font-family: 'Roboto', sans-serif;
}
.black {
background-color: rgba(0, 9, 31, 0.37);
}
.blue {
    background: rgb(11,36,48);
    background: radial-gradient(circle, rgba(11,36,48,1) 42%, rgba(0,0,0,1) 120%);
    border-radius: 10px;

}
.lightblue {
 background-color: #171919 !important;
 
}
.midblue {
    background-color: #0e6b68 !important;
}
.buttonform-group {
    border-radius: 10px !important;
}
.createspace {
   margin-top: 260%;
}

.btn-sign:hover {
    background-color: rgb(87, 186, 211) !important;
}

.linkreset {
    text-decoration: none !important;
}

