body {
    font-family: 'Roboto', sans-serif;
}
.black {
    background-color: rgba(80, 121, 148, 0.966);
    }
#margintop {
    margin-top: 10%;
}
.blue {
    background: rgb(11,36,48);
    background: radial-gradient(circle, rgba(11,36,48,1) 42%, rgba(0,0,0,1) 120%);
    border-radius: 10px;
}
.btn-sign:hover {
    background-color: rgb(87, 186, 211) !important;
}

.linkreset {
    text-decoration: none !important;
}
.col-lg-6 {
    max-width: 25% !important;
}